.cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  gap: 16px;
}

@media screen and (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}
