.heading__subtitle {
  width: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--main-text);
  margin: 0 auto 5px;
}
