.section-title {
  box-sizing: border-box;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: var(--accent-text);
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 600px) {
  .section-title {
    font-size: 40px;
    width: 60%;
    padding: 0 20px;
  }
}
