.photo-section {
  min-height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 100px;
  position: relative;
}
