.photo-section {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 16px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 600px) {
  .photo-section {
    padding: 0 7% 20px 0;
  }
}
