.header__nav-link {
  text-decoration: none;
  color: var(--accent-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.3s;
}

.header__nav-link:hover {
  opacity: 0.7;
}
