.header {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 200px;
}

@media screen and (min-width: 1130px) {
  .header {
    padding: 20px 10%;
  }
}
