.cards-section {
  box-sizing: border-box;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .cards-section {
    padding: 100px 8%;
  }
}
