.footer__input {
  width: 71%;
  height: 38px;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 8px;
}

.footer__input:focus {
  outline-color: transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.501);
}
